<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect Your Password</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, illo?</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
            Start now!
        </button>
    </div>
    <img src="images/fingerprint.svg" alt="" class="w-80">
</header>
