---
import Layouts from "../layouts/layouts.astro";

---


<Layouts title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, fugit commodi voluptas rerum ullam, totam fuga optio tempore vitae accusamus incidunt velit unde voluptatum, sint in accusantium nesciunt nostrum. Placeat eum dolorum neque repellendus tempore odio, voluptates veniam nobis quia dicta minima unde illum explicabo pariatur doloremque ducimus sit, ipsam laudantium itaque qui velit iste. Ipsa, sapiente, tempora cupiditate culpa provident quibusdam expedita deleniti fugit molestias quasi maiores veritatis natus sed maxime consectetur quisquam reiciendis sit? Explicabo quod sapiente asperiores incidunt nostrum dignissimos ipsa culpa, saepe assumenda ratione labore numquam, vero dolorum, repellat eaque voluptas velit! Commodi iusto saepe fugit.</p>
</Layouts>

